{% extends "home/index.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="container" style="margin: 40px;">
		<form action="{% url 'account:deletingview' %}" method="post">
			
			{% csrf_token %}
			<h2>Delete a record</h2><br>
			{% if name == None %}
				
			<b>Customer does not exist try again</b><br>

            <a href="{% url 'account:deleteview' %}">Click Here to Try Again</a>
		    {% else %}
            <h2>Are you sure you want to delete record? </h2><br>

				<table border="2">
					<tr>               
						<td><b>Occupant Name: </b> {{name.name}}</td></tr>
						<td><b>	Room: </b> {{name.room}}</td></tr>
						<td><b>Amount Paid: </b> {{name.amount}}</td></tr>
						<td><b>Occupant Email: </b> {{name.email}}</td></tr>
						<td><b>Night: </b> {{name.night}}</td></tr>
						<td><b>Start Date: </b> {{name.start_date}}</td></tr>
						<td><b>End Date: </b> {{name.end_date}}</td></tr>
						<td><b>Staff on Duty: </b> {{name.staff}}</td></tr>
						<td><b>Time Checkedin: </b> {{name.time_checkedin}}</td>
					</tr>
				</table>
                
				<input type="hidden" name="id" value="{{name.id}}">
				<button type="submit" class="btn btn-success"> Delete</button> <br>
                <a href="{% url 'account:checkinview'%}">Cancel</a>
                
			{% endif %}
		</form>
		
</div>
</body>
</html>

{% endblock body %}