{% extends "home/index.html" %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="container" style="margin: 40px;">
		<form action="" method="post">
			
			{% csrf_token %}
			<h2>Search for a Customer</h2><br>
	
				<input type="text" id="occupant_name" name="name" required>
				<button type="submit" class="btn btn-success"> Search</button> <br>
				
		</form>
		
</div>
</body>
</html>

{% endblock body %}